:root {
  --bs-primary: #ff5722;
  --bs-primary-rgb: 255, 87, 34;
  /* R, G, B */
  /* ví dụ màu cam */
  --bs-orange: #ff7708;
  --bs-orange-rgb: 253, 126, 20;
  --bs-bg-grey: #f8f7f7;
}

.btn-primary {
  background-color: #ff7708 !important;
  border-color: #ff7708 !important;
}

.btn-primary:hover {
  background-color: #ff7708 !important;
  border-color: #ff7708 !important;
}

.link-primary-hover {
  transition: all 0.3s ease;
}

.link-primary-hover:hover {
  color: var(--bs-primary) !important;
}

/* Hiệu ứng fade-up (đang có) */
.lazy-section {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.lazy-section.show.fade-up {
  opacity: 1;
  transform: translateY(0);
}

/* Hiệu ứng trượt từ trái qua phải */
.lazy-section.slide-left {
  opacity: 0;
  transform: translateX(-60px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.lazy-section.show.slide-left {
  opacity: 1;
  transform: translateX(0);
}

.loader-overlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite;
}

.custom-button-next,
.custom-button-prev {
  position: absolute;
  top: 40%;
  /* transform: translateY(-50%); */
  z-index: 10;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #fd7e14;
  color: var(--bs-primary);
  opacity: 0.5;
}

.custom-button-next {
  right: 7px;
}

.custom-button-prev {
  left: 7px;
}

.btn-hover-scale {
  transition: transform 0.2s ease-in-out;
}

.btn-hover-scale:hover {
  transform: scale(1.1);
  /* phóng to 110% khi hover */
  opacity: 1;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.btn-outline-orange {
  --bs-btn-color: var(--bs-orange);
  --bs-btn-border-color: var(--bs-orange);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bs-orange);
  --bs-btn-hover-border-color: var(--bs-orange);
  --bs-btn-focus-shadow-rgb: var(--bs-orange-rgb);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-orange);
  --bs-btn-active-border-color: var(--bs-orange);
}

.custom-select {
  width: 40%;
  padding: 8px 12px;
  border: 2px solid #ddd;
  border-radius: 4px;
  background-color: white;
  font-size: 1rem;
  color: #333;
}

.floating-input {
  position: relative;
  font-family: "Inter", sans-serif;
}

.floating-input input {
  width: 100%;
  padding: 12px;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  transition: all 0.2s ease;
}

.floating-input label {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  background-color: white;
  color: #999;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.2s ease;
}

/* Khi input được focus hoặc có giá trị */
.floating-input input:focus+label,
.floating-input input:not(:placeholder-shown)+label,
.floating-input select:focus+label,
.floating-input select:not([value=""])+label {
  top: 0;
  left: 10px;
  font-size: 12px;
  color: #ff7708;
  padding: 0 4px;
}

/* Focus border */
.floating-input input:focus {
  border-color: #ff7708;
  box-shadow: 0 0 0 3px rgba(253, 126, 20, 0.2);
}

.img-hover-zoom img {
  transition: transform 0.2s ease;
}

.img-hover-zoom:hover img {
  /* transform: translateY(-3px); */
  transform: scale(1.1);
}

.custom-text-orange {
  color: var(--bs-primary);
}

.custom-border-orange {
  border: 2px solid var(--bs-primary);
}

.custom-button-addtocart {
  border: 1px solid var(--bs-orange);
  background-color: white;
  padding: 10px;
  color: var(--bs-orange);
  background-color: #ff8c0017;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
}

.custom-button-addtocart:hover,
.custom-button-buynow:hover,
.custom-button-heart:hover {
  background-color: #ff8c000d;
}

.custom-button-buynow {
  border: 1px solid var(--bs-orange);
  background-color: white;
  padding: 10px;
  color: var(--bs-orange);
  background-color: #ff8c0017;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
}

.custom-button-heart {
  border: 1px solid var(--bs-orange);
  background-color: white;
  color: var(--bs-orange);
  background-color: #ff8c0017;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-btn {
  color: var(--bs-orange);
  border: 1px solid var(--bs-primary);
  font-weight: 700;
}

.custom-btn:hover {
  color: white;
  background-color: var(--bs-orange);
}

.custom-bg-grey {
  background-color: var(--bs-bg-grey);
}

.product-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* số dòng muốn hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-component:hover {
  /* border-bottom: 2px solid var(--bs-orange); */
  color: var(--bs-primary);
  cursor: pointer;
}

.nav-info:hover {
  background-color: var(--bs-primary);
  color: white;
}

.category-component.active {
  border-bottom: 2px solid var(--bs-orange);
  color: var(--bs-primary);
  transition: all 0.4s ease;
}

.custom-slider-wrapper {
  position: relative;
  width: 500px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.custom-swiper-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

.custom-swiper-nav:hover {
  background: #f0f0f0;
}

/* #my-custom-prev-button {
  left: 0;
} */

#my-custom-next-button {
  right: 0;
}

.custom-swiper-nav.swiper-button-disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.pointer {
  cursor: pointer;
}

/* 1. Mặc định (cho màn hình nhỏ, horizontal) */
.myVerticalSwiper {
  width: 400px;
  height: auto;
}

.icon-vertical {
  display: none;
}

.icon-horizontal {
  display: inline-block;
}

.border-product-attribute {
  border: 1px solid var(--bs-orange);
  background-color: #ff8c0017;
}

.pagenum-nonactive {
  border: none;
  background-color: white;
  /* border-radius: 50%; */
}

.pagenum-active {
  border: none;
  color: #ff8c00ce;
  /* border-radius: 50%; */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagenum-nonactive:hover {
  color: #ff8c007c;
}

.subCategoryText.active {
  color: var(--bs-orange);
  transition: all ease 0.2s;
}

.search-dropdown {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  max-height: 350px;
  overflow-y: auto;
  top: 100%;
  background-color: white;
  z-index: 2;
  position: absolute;
  width: 100px;
}

.search-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.search-item:not(:first-child) {
  border-top: 1px solid #eee;
}

.search-item:hover {
  background: #f5f7fa;
}

.search-thumb {
  width: 45px;
  height: 45px;
  border-radius: 6px;
  object-fit: cover;
  border: 1px solid #eee;
}

.btn-apply {
  border: none;
  background-color: #ee4d2d;
  width: 100%;
  color: white;
  padding: 4px 0;
}

.search-info {
  overflow-x: hidden;
  /* white-space: nowrap;
  overflow: hidden;
  flex: 1;
  text-overflow: ellipsis; */
}

.search-name {
  font-size: 14px;
  color: #333;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-price {
  color: var(--bs-orange);
}

.section-line {
  flex-grow: 1;
  height: 2px;
  background-color: var(--bs-orange);
  max-width: 220px;
  min-width: 50px;
}

/* Đổi lại icon cho đúng chiều */
@media (min-width: 768px) {
  .myVerticalSwiper {
    height: 494px;
    width: 100%;
  }

  .custom-slider-wrapper {
    width: 120px;
  }

  .custom-swiper-nav {
    left: 50%;
    transform: translateX(-50%);
    top: unset;
  }

  #my-custom-prev-button {
    top: 0;
  }

  #my-custom-next-button {
    bottom: 0;
  }

  .icon-vertical {
    display: inline-block;
  }

  .icon-horizontal {
    display: none;
  }
}

.delete-all {
  color: #333;
}

.delete-all:hover {
  color: var(--bs-primary);
  transition: all 0.2s ease;
}

/* src/components/FeaturedShops.css */

.featured-shops-swiper {
  padding-bottom: 40px !important;
  /* Thêm không gian cho dấu chấm (pagination) */
}

.shop-card-link {
  text-decoration: none;
  color: inherit;
}

.featured-shop-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.featured-shop-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.shop-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* --- Làm cho logo tròn --- */
  object-fit: cover;
  /* Đảm bảo ảnh vừa vặn, không bị méo */
  border: 1px solid #f0f0f0;
}

.shop-name {
  font-size: 0.9rem;
  font-weight: 500;
  /* Cắt chữ nếu tên shop quá dài */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

/* Tùy chỉnh màu của nút Swiper (cho hợp với Bootstrap) */
.featured-shops-swiper .swiper-button-next,
.featured-shops-swiper .swiper-button-prev {
  color: var(--bs-primary);
  /* Dùng màu primary của Bootstrap */
}

/* Tùy chỉnh màu của dấu chấm (pagination) */
.featured-shops-swiper .swiper-pagination-bullet-active {
  background-color: var(--bs-primary);
}

.discount-hihi {
  background-color: rgba(255, 87, 34, 0.8);
  color: white;
}