:root {
  --bs-primary: #ff5722;
  --bs-primary-rgb: 255, 87, 34;
  /* R, G, B */
  /* ví dụ màu cam */
  --bs-orange: #ff7708;
  --bs-orange-rgb: 253, 126, 20;
  --bs-bg-grey: #f8f7f7;
}

.link-primary-hover {
  transition: all 0.3s ease;
}

.link-primary-hover:hover {
  color: var(--bs-primary) !important;
}

/* Hiệu ứng fade-up (đang có) */
.lazy-section {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.lazy-section.show.fade-up {
  opacity: 1;
  transform: translateY(0);
}

/* Hiệu ứng trượt từ trái qua phải */
.lazy-section.slide-left {
  opacity: 0;
  transform: translateX(-60px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.lazy-section.show.slide-left {
  opacity: 1;
  transform: translateX(0);
}

.loader-overlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite;
}
.custom-button-next,
.custom-button-prev {
  position: absolute;
  top: 40%;
  /* transform: translateY(-50%); */
  z-index: 10;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #fd7e14;
  color: var(--bs-primary);
  opacity: 0.5;
}

.custom-button-next {
  right: 7px;
}
.custom-button-prev {
  left: 7px;
}

.btn-hover-scale {
  transition: transform 0.2s ease-in-out;
}

.btn-hover-scale:hover {
  transform: scale(1.1); /* phóng to 110% khi hover */
  opacity: 1;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.btn-outline-orange {
  --bs-btn-color: var(--bs-orange);
  --bs-btn-border-color: var(--bs-orange);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bs-orange);
  --bs-btn-hover-border-color: var(--bs-orange);
  --bs-btn-focus-shadow-rgb: var(--bs-orange-rgb);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-orange);
  --bs-btn-active-border-color: var(--bs-orange);
}
.custom-select {
  width: 40%;
  padding: 8px 12px;
  border: 2px solid #ddd;
  border-radius: 4px;
  background-color: white;
  font-size: 1rem;
  color: #333;
}

.img-hover-zoom img {
  transition: transform 0.2s ease;
}

.img-hover-zoom:hover img {
  /* transform: translateY(-3px); */
  transform: scale(1.1);
}
.custom-text-orange {
  color: var(--bs-primary);
}
.custom-border-orange {
  border: 2px solid var(--bs-primary);
}
.custom-button-addtocart {
  border: 1px solid var(--bs-orange);
  background-color: white;
  padding: 10px;
  color: var(--bs-orange);
  background-color: #ff8c0017;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-button-addtocart:hover {
  background-color: #ff8c000d;
}
.custom-bg-grey {
  background-color: var(--bs-bg-grey);
}
